<%= turbo_stream.replace @task do %>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <%= link_to @task.title, user_task_path(@user, @task) %>
    <%= form_with(model: [@user, @task], local: false) do |f| %>
      <%= f.check_box :completed, checked: @task.completed?, data: { turbo_stream: true } %>
    <% end %>
    <% if @task.completed? %>
      <p>達成済み</p>
    <% else %>
      <p>未達成</p>
    <% end %>
  </li>
<% end %>