<h1>My Avatars</h1>

<%= form_with url: user_user_avatar_path(@user, :avatar_id), method: :put do %>
  <ul>
    <% @user.user_avatars.each do |user_avatar| %>
      <li>
        <%= radio_button_tag :avatar_id, user_avatar.avatar.id, user_avatar.is_active %>
        <%= label_tag "avatar_id_#{user_avatar.avatar.id}", user_avatar.avatar.avatar_name %>
      </li>
    <% end %>
  </ul>
  <%= submit_tag "更新" %>
<% end %>