<% provide(:title, 'All users') %>
<h1 class="text-center page-title">ユーザー共有</h1>

<%= will_paginate @users %>
<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= link_to user.user_name, user %>
      <% if current_user.admin? && !current_user?(user) %>
      | <%= link_to "削除", user, data: { "turbo-method": :delete,
                                          turbo_confirm: "本当に削除しますか?" } %>
      <% end %>
    </li>
  <% end %>
</ul>
<%= will_paginate @users %>