<% provide(:title, 'Dashboard') %>
<h1 class="text-center page-title"><%= @user.user_name %> のダッシュボード</h1>

<!-- ログインしてるユーザーページかどうかで場合分け -->
<% if current_user?(@user) %>
  <%= render 'show_current_user' %>
<% else %>
  <%= render 'show_other_user' %>
<% end %>


