<% provide(:title, 'All avatars') %>
<h1>Available Avatars</h1>
<ul>
  <% @avatars.each do |avatar| %>
    <li>
      <%= link_to avatar.avatar_name, avatar_path(avatar) %>
    </li>
  <% end %>
</ul>